@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Rechercher";
    Layout = "~/Views/Shared/_LayoutManga.cshtml";
}
<h2>Rechercher un manga</h2>

    @using (Html.BeginForm("Rechercher", "Mangas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card col-8 mx-auto mt-5">
            <div class="card-body">
                <h3 class="card-title">Rechercher un Manga</h3>
                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="input-group mb-3">
                    <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                        <span class="input-group-text" id="scenariste-input">Recherche par Titre : </span>
                    </div>
                    <select name="id">
                        <option value="0" selected="selected">Recherche libre</option>
                       @foreach(DataRow titre in Model.Rows)
                       {
                            <option value="@titre[0]"> @titre[1]</option>
                       }

                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                        <span class="input-group-text" id="scenariste-input">Recherche Libre : </span>
                    </div>
                    <input name="Titre" type="text" class="form-control" id="titre" />
                </div>



                   
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Valider" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
